<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.devsettings">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OpenCloseOptionActivity"
            android:launchMode="singleTask"
            android:theme="@style/perference_set_activity" />
        <activity
            android:name=".WhiteBlackAppsActivity"
            android:label="添加应用黑/白名单"
            android:launchMode="singleTask" />
        <activity android:name=".BackRunAppsRunActivity"></activity>
    </application>

</manifest>